html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

nav ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 414px;
  height: 896px;
  cursor: pointer;
  background: #FFF5F5; }

#info {
  position: absolute;
  top: 0;
  left: 0; }

.setCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#logo {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background: #FF7272; }

h1 {
  padding: 0px;
  margin: 0px;
  color: azure; }

.search-container {
  width: 90%;
  background: white;
  height: 40px;
  margin: 120px 0 10px 5%;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.searchIcon {
  height: 20px;
  margin: 10px; }

input[type=search] {
  border: 0;
  color: #fff;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 30px; }

.accessories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto; }
  .accessories div {
    background: white;
    margin: 10px;
    border-radius: 20px; }
    .accessories div img {
      width: 80px;
      height: 80px; }

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto; }

.navigation li {
  margin: 10px; }

a {
  color: #FFB5B5;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 20px 5px;
  text-align: center;
  text-transform: capitalize; }

a:hover {
  color: rgba(238, 13, 13, 0.75);
  text-decoration: underline; }

.productCards ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none; }

.productCards ul::-webkit-scrollbar {
  display: none; }

.productCards li {
  list-style: none;
  text-align: center;
  margin: 10px 20px;
  padding: 10px;
  background: white;
  border-radius: 20px; }

.productCards img {
  height: 240px;
  padding: 10px 30px; }
